/* ========== CSS Reset & Base ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* border: 1px solid red;                               */
}

:root {
  --dark-blue: #0d1b2a;
  --mid-blue: #1b263b;
  --accent-indigo: #3f5285;
  --soft-white: #f5f5f5;
  --faint-gray: #c0bfbf;
  --gray-700: #6c757d;
  --light-gray: #e0e0e0;

  --text-primary: var(--dark-blue);
  --text-secondary: var(--gray-700);
  --light-heading: var(--soft-white);
  --bg-light: var(--soft-white);
  --bg-gray: var(--faint-gray);
  --bg-tertiary: var(--light-gray);
  --bg-dark: var(--mid-blue);
  --accent: var(--accent-indigo);

  --gradient-main: linear-gradient(135deg, #0d1b2a, #6c757d);
  --gradient-accent: linear-gradient(to right, #00b4d8, #1b263b);
  --gradient-light: linear-gradient(to right, #97a2ac, white);
  --gradient-faint-gray: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--bg-light);
}

html a {
  color: var(--text-primary);
}

/* ========== Typography ========== */

/* Button Styles */
.btn--primary {
  display: flex;
  width: auto;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  text-align: center;
  list-style: none;
  background-color: var(--accent);
  color: var(--bg-light);
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
  padding: .5rem 0rem;
  height: 3rem;
  cursor: pointer;
  align-self: center;
  border-radius: 6px;
  text-wrap: nowrap;
}

.btn--primary:hover {
  transition:transform 0.3s ease;
  transition: background-color 0.3s ease;
  transform: translateY(-3px);
  background-color: var(--mid-blue);
}

.btn--small {
  text-wrap: nowrap;
  display: flex;
  width: auto;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  text-align: center;
  list-style: none;
  background-color: var(--accent);
  color: var(--bg-light);
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 6rem;
  height: 1.5rem;
  cursor: pointer;
  align-self: center;
  border-radius: 6px;
}

.btn--small:hover {
  transition:transform 0.3s ease;
  transition: background-color 0.3s ease;
  transform: translateY(-3px);
  background-color: var(--mid-blue);
}

/* Navigation Styles */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  border-bottom: 2px solid var(--bg-tertiary);
  background-color: var(--bg-light);
  box-shadow:0 2px 8px var(--gray-700);
}


.nav__name {
  font-size: 1.5rem;
}
.nav__name--bold {
  font-weight: 700;
}
.nav__name--thin {
  font-weight: 300;
  color: gray
}
nav li {
  padding: 0.5em 0.5em;
}
.nav__logo {
  text-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  font-size: 2.4rem;
}
.nav__img {
  height: 3.5rem;
  width: auto;
}
.nav__logo--link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav__links > ul {
  text-wrap: nowrap;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.6rem;
}
.nav__links {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
} 
.nav__link {
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}


.nav--desktop > * ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 1.5rem;
}

.nav--mobile > * ul {
  /* display: none; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* header styles */
/* Hero Section Styles */
.hero {
  display: flex;
  padding: 5% 3%;
  background: var(--gradient-light);
}
.hero--lhs {
  display: flex;
}

.hero--rhs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1%;
  padding: 0% 3%;
  max-width: 25rem;
}

.hero--rhs > h1, h2 {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

.hero h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 1rem;
}
.hero h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--text-secondary);
  margin: .5rem 1rem;
}
.hero .btn--primary {
  padding: 0.5rem;
  width: 100%;
}


.hero__image {
  width: 85%;
  object-fit:cover;
  overflow: none;
}


/* information Section Styles */
.information {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2px;
  align-items: stretch;
}
.information--left {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  height: 100%;
}

.information--left__text {
  margin: 1rem .5rem;
}

.information__quote {
  font-style: italic;
}

.information__quote, .information__author {
  color: var(--text-secondary);
  padding-top: 2rem;
}

.information .heading-3 {
  font-size: 1.5rem;
  margin: 0;
}

.information--right {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  height: 100%
}

.information__cards {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  height: 100%;
}

.info-card h4, P {
  padding: 0;
  margin: 0 0 0 .5rem;
}

.info-card h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.heading-4.guest {
  font-weight: 700;
}

.info-card {
  display: flex;
  flex: 1;
  background-color: var(--bg-light);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.05);
  border-bottom: 2px solid var(--bg-light);
  border-left: 2px solid var(--bg-light);
  background-color: var(--bg-gray);
}

.highlight {
  background: var(--gradient-main);
  color: var(--bg-light);
}

.highlight .info-card__content{
  max-width: 95%;
}

.info-card .btn--small {
  margin-top: 2rem;
}

.info-card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 95%;
}


.info-card img, .highlight img {
  aspect-ratio: 1/1;
  width: 10rem;
  object-fit: cover;
  margin: 1rem;
}


.information--left__image { 
  display: flex;
}

.information--left__image img {
  display: block;
  object-fit: cover;
  width: 100%;
}
/* learning Section Styles */

.learning {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: var(--faint-gray);
  background: radial-gradient(circle, hsla(0, 1%, 75%, 1) 0%, hsla(208, 7%, 46%, 1) 100%);
  border-top: 2px solid var(--bg-light);
}

.learning__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem;
}

.learning .heading-3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border-radius: 10px;
  padding: 1rem;
}
.card__img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center;
  display: block;
  border-bottom: 2px solid var(--bg-gray);
  border-radius: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  color: var(--bg-light);
  background-color: var(--bg-dark);
  overflow: hidden;
  object-position: center;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 24px black;
}

.card__content {
  padding-bottom: 1.5rem;
}

p.card__text {
  max-width: 35ch;
  font-weight: 100;
}
.heading-4 {
  font-size: 1.5rem;
  font-weight: 500;
}
/* thesis Section Styles */

.thesis {
  background-color: var(--bg-gray);
  margin: 0;
}

.thesis .heading-3 {
  font-weight: 700;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  text-justify: center;
  margin: 0;
}

.thesis__container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.thesis__video {
  grid-column: 1/2;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.thesis__video video {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
}

.thesis__sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.thesis__item {
  display: grid;
  grid-template-columns: 7fr 13fr;
  position: relative;
}

.thesis__item:first-child {
  background: var(--gradient-main);
  color: var(--bg-light);
}

.thesis__info {
  display: flex;
  flex-direction: column;
}

.thesis__img {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 1rem;
  z-index: 2;
  position: relative;
}
 .thesis__sidebar .heading-4 {
  margin-bottom: .5rem;
  font-weight: 700;
 }

 p.thesis__description {
  font-size: 1rem;
  font-weight: 100;
 }

 .thesis__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
 }

 .video__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
 }

 .video__text .heading-4 {
  font-size: 3rem;
  font-weight: 700;
  padding: 0rem;
  margin: 0rem;
 }

 .video__text p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
 }

/* footer styles */
.footer {
  height: 4rem;
  display: flex;
  background-color: var(--bg-light);
  height: 4rem;
  border-top: 2px solid var(--bg-tertiary);
  background-color: var(--bg-light);
  box-shadow:0 2px 8px var(--gray-700);
  justify-content: space-between;
  align-items: flex-start;
}

.footer ul {
  list-style: none;
  display: flex;
  align-content: flex-end;
  align-content: space-between;
  gap: 4rem;
  color: var(--text-secondary);
  margin-right: 2rem;
  margin-top: 1.5rem;
}
.footer p {
  margin-left: 1rem;
  margin-top: .5rem;
}

footer span {
  font-size: .75rem;
  margin-left: 4rem;
  color: #3f5285;
}

/* ========== Media Queries ========== */
 @media only screen and (max-width: 480px) {
  .nav__logo, .nav__link {
    display: none;
  }

  .nav__list--mobile {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
  }
  .nav--mobile, .nav--mobile ul, .nav--mobile li, .nav__link--mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
  }
  .nav__mobile-icon {
    height: auto;
    width: 2.5rem;
  }


  .nav__link {
    margin: 0.5rem 0;
  }

 }

  @media only screen and (min-width: 480px) {
    .nav--mobile {
      display: none;
    }
 }